@model EnrollStudentViewModel

@{
    ViewData["Title"] = "Enroll a guest";
}

<h1>@ViewBag.Title</h1>

<div class="my-3">
    <h6>You have been invited to enroll in the "@Model?.Student?.Course?.Name" event!</h6>
    <p>
        Hey @Model?.Student?.StudentName , you've been invited to enroll in the @Model?.Student?.Course?.Name
        in room @Model?.Student?.Course?.Roomnumber
        starting on @Model?.Student?.Course?.StartDate?.ToString("MMM dd, yyyy")
        with host @Model?.Student?.Course?.Instructor -- fill out the rest
    </p>

</div>

<form method="post" asp-action="Enroll" asp-route-eventId="@Model?.Student?.Course?.CourseId" asp-route-guestId="@Model?.Student?.CourseId">
    <label class="form-label mx-3" asp-for="Response">Do you want to enroll?</label>
    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" asp-for="Response" value="Yes" />
        <label class="form-check-label" asp-for="Response"> Yes</label>
    </div>

    <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" asp-for="Response" value="No" />
        <label class="form-check-label" asp-for="Response"> No</label>

    </div>

    <input class="btn btn-primary" type="submit" value="Submit response" />

</form>